<div class="tab-phone tab-responsive" [class.darkPrimary]="isDarkMode" id="tab_bar">
  <a href="#home" class="transition duration-500">
    <fa-icon class="fa-xl text-gray-400" [class.darkColor]="isDarkMode" [icon]="faHome"></fa-icon>
  </a>
  <a href="#trending_stays" class="transition duration-500">
    <fa-icon class="fa-xl text-gray-400" [class.darkColor]="isDarkMode" [icon]="faMagnifyingGlass"></fa-icon>
  </a>
  <a href="#recommendations" class="transition duration-500">
    <fa-icon class="fa-xl text-gray-400" [class.darkColor]="isDarkMode" [icon]="faHeart"></fa-icon>
  </a>
  <button>
    <fa-icon class="fa-xl text-primary" [icon]="isDarkMode ? faSun : faMoon" (click)="toggleDarkMode()"></fa-icon>
  </button>
  <a href="#OwnerInformation" class="transition duration-500">
    <fa-icon class="fa-xl text-gray-400" [class.darkColor]="isDarkMode" [icon]="faUser"></fa-icon>
  </a>
</div>


