
<div id="home">
  <div class="w-full h-3/4">
    <div class="w-full h-full flex  flex-col absolute space-y-96 py-4 items-center ">
      <input class="outline-none p-3 rounded-full shadow-md" placeholder="San Francisco" type="search" name="" id="">
      <button class="w-36 rounded-full text-xl text-primary shadow-xl font-semibold p-4 bg-white">
        Explore
      </button>
    </div>
    <div class="w-full h-full">
      <img src="../../../assets/img/sanFrancisco.jpg" alt="">
    </div>

  </div>
</div>
