.input-search{
  @apply outline-none p-3 rounded-full shadow-md  duration-300 ease-in-out focus-within:shadow-sm focus:ring-2 focus:w-11/12;
}

.home-box{
  @apply w-full h-full flex flex-col absolute space-y-96 py-4 items-center;
}

.main-button{
  @apply w-48 rounded-full text-lg text-primary shadow-xl font-semibold p-4 bg-white transition-all duration-500 ease-in-out hover:bg-primary hover:text-white transform hover:-translate-y-1 hover:scale-110;
}

.box-responsive{
  @apply lg:space-y-0 lg:items-start lg:pt-48 lg:justify-start;
}

.background-responsive{
@apply lg:h-96 bg-sanFranciscoDesktop bg-cover bg-center;
}


@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.typing-effect {
  overflow: hidden;
  animation: typing 3s steps(40) infinite;
  white-space: nowrap;
  border-right: 2px solid #000; /* Opcional: agrega un cursor de escritura */
}
